.Container {
    border: solid LightGray 1px;
    padding: 10px;
    margin: auto;
    max-width: 1500px;
    align-items: center;
}

.half {
    width: 50%;
    margin: 10px
}

.darkHR {
    border-color: DarkGray;
}
